footer{
    margin-top: auto;
    display: flex;
    flex-direction: column  ;
    margin-top: auto;
    color: #FFFFFF;
    height: max-content;
    border: none;
    background-color: #707070;
}

footer > img {
    margin-bottom: auto;
    height: 100px;
    width: 100%;
    transform: rotateX(180deg);
    z-index: 2;
}

footer > p {
    margin-bottom: 5%;    
}